# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List tools for Data Science
- List examples for evaluating arithmetic expressions in python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. MATLAB
7. Julia

#### Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. scikit-learn
3. SciPy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
res = (3*4)+5
print(res)

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
minutes = 0
hours = 0
given_minutes = 200
hours = given_minutes//60
minutes = given_minutes%60
print(str(hours)+" hours, "+str(minutes)+" minutes")

3 hours, 20 minutes

## Author
Sylesh Gowtham